body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.game-container {
    margin-top: 3rem;
}

.state {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .8rem;
}

.card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.front {
    background-color: #2196F3;
    color: white;
}

.back {
    background-color: white;
    transform: rotateY(180deg);
    border: 2px solid #333;
}

button {
    margin-top: 1.5rem;
    padding: .8rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;

}




@media screen and (max-width: 750px) {
    .game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
   width: 30rem;
}
.game-container{
    width: 30rem;
}
.card{
    perspective: 100px;
    margin-left: .3rem;
}
}
